.container {
    margin-top: 50px;
}

.title {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    font-weight: 800;
    margin-bottom: 5rem;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    margin-bottom: 1.5rem;
    font-size: medium;
}

.prompt {
    border: 2px dashed #0084ffac; /* Dashed border for prompt */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Add padding */
    margin-top: 20px; /* Add some space between the prompt and response */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.generated {
    border: 3px solid #1e7439; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Add padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    margin-top: 10px; /* Add some space between the prompt and response */
    margin-bottom: 20px;
}

.response-container h3 {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    font-weight: 900;
}

.inter-response-container h3 {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    font-weight: 900;
    margin-bottom: 1rem;
}

.inter-response-container p {
    margin-bottom: 2rem;
}

#seed_set_success {
    color: darkgreen;
}

.prompt-generator-container {
    border: 2px dashed #D3D3D3; /* Dashed border for prompt */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Add padding */
    margin-bottom: 30px; /* Add some space between the prompt and response */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.prompt-generator-container h3 {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    font-weight: 900;
}