/* Reset CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

ul, li {
    margin: 0 20px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.intro-content {
    text-align: left;
}

.intro-image {
    text-align: center; /* Center the image within the container */
    float:inline-start; /* Float the image to the right */
}

@media only screen and (min-width: 600px) {
    .intro {
        display: flex;
        align-items: center;
    }

    .intro-content {
        flex: 1; /* Expand to fill available space */
        text-align: justify;
    }
    
    .intro-image {
        flex: 1;
        text-align: center; /* Center the image */
        float: none; /* Remove float on wider screens */
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    font-weight: 300;
}

body {
    line-height: 1.6;
    /* background-color: #e9f4ff; */
    /* text-align: justify; */
    background-color: #fff;
    color: #000000;
}

main h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

header {
    background-color: #fff; 
    color: #000000;
    padding: 20px;
    overflow: hidden; /* Clear floats */
    text-align: center;
}

.font-weight-bold {
    font-weight: 700 !important;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

footer {
    background-color: hwb(211 2% 15%);
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Links */
a {
    color: hsl(208, 89%, 48%); /* White links */
    text-decoration: none; /* Remove underlines */
}

#caption-link {
    color: hwb(208 56% 28%) !important;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Images */
img {
    display: inline-block;
}

#medium-img {
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#small-img {
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#very-small-img {
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#large-img {
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

@media only screen and (min-width: 600px) {
    #medium-img {
        height: auto;
        max-width: 90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #small-img {
        height: auto;
        max-width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #very-small-img {
        height: auto;
        max-width: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #large-img {
        height: auto;
        max-width: 100%;
        margin-top: 1rem;
        /* margin-bottom: 1rem; */
    }
}
