/* Reset CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-color: #e9f4ff; */
    background-color: #fff;
    color: #333;
}

header {
    background-color: #fff; 
    color: #000000;
    padding: 20px;
    overflow: hidden; /* Clear floats */
    text-align: center;
}

.font-weight-bold {
    font-weight: 700 !important;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

footer {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Links */
a {
    color: #000000; /* White links */
    text-decoration: none; /* Remove underlines */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Images */
img {
    max-width: 100%; /* Ensure images resize to fit within the page */
    height: auto; /* Maintain aspect ratio */
}

